body {
  padding: 0px;
  margin: 0px;
  background-image: url("./asset/fondo2.jpg");
  overflow-x  : hidden;
  max-width: 1920px;
}
nav {
  background-color: rgb(75, 109, 109);
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 90px;
  font-family: "Roboto Slab", serif;
  color: rgb(255, 255, 255);
  font-size: 20px;
  width: 100%;
}
.NavLogo {
  display: flex;
  align-items: center;
}
.NavOpcion {
  display: flex;
  align-items: center;
  margin-right: 5%;
  gap: 10px;
  z-index: 20;
}
.NavOpcion > span a {
  border-bottom: dashed 1px rgb(255, 255, 255);
  text-decoration: none;
  color: azure;
}
.hidden { 
  height: 500px; 
  color: aliceblue;
  opacity: 0;
  transition: all 4s;
 transform: rotateX('300');
 font-family: 'Castoro Titling', cursive;
 font-size: 30px;
}

.show{
  opacity: 1;
  transform: rotateX('300');
  font-size: 30px;

}

.Product {
  height: 500px; 
  color: aliceblue;
  display: flex;
  align-items: center;
  padding-left: 20vh;
  padding-right: 10vh;
  color: rgb(255, 255, 255);
  font-size: 50px;
  text-shadow: 1px 5px 5px #2e2d32;
  text-align: center;
  width: 100%;
  justify-content: space-around;
}


.hidden::before{
  content: "c";
  background-image: url("./asset/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80%; 
  position: absolute;
  left: 0%;
  top: 15%;
  width: 100%;
  filter: blur(3px);
  filter: contrast(5px);
  z-index: 0;
}
.Product > span{
    text-shadow: 10px 1px 5px black;
    -shadow: 18px 8px 25px rgba(128, 0, 0, 1),-6px -12px 20px rgba(43, 91, 101, 1),19px -10px 23px rgba(92, 81, 65, 1),-11px 2px 7px rgba(67, 87, 6, 1),-9px -19px 24px rgba(8, 60, 27, 1),12px -13px 13px rgba(42, 77, 104, 1);
    z-index: 1;
    padding: 10px;
    gap: 3px;
}
.Product > span >h1{
  position: relative;
  font-size: 40px;
    animation: typing 4s steps(60, end) forwards;
    white-space: nowrap;
    overflow: hidden;
    font-size: 24px;
    border-right: 3px solid rgb(25, 237, 240);
    padding-right: 10px;
    color: antiquewhite;
    border: 1px solid white;
    z-index: 20;
  }
  
  /* Define la animación de la máquina de escribir */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
      white-space: normal;
    }
  }


iframe {
    border: 2px solid black;
  background-color: aliceblue;
  border-radius: 20px;
  height: 700px;
  width: 393px;
  transform: scale(0.7);
}

.card {
    width: 190px;
    height: 254px;
    background: white;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   }
   
   .shadow {
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                0 0  0 2px rgb(190, 190, 190),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
   }
   
.Info{
    gap:40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: auto;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    
}   
.Productocel{
  padding: 0%;
  display: block;
  margin-left: -10%;

}

@media screen and (max-width: 768px) {
  .Product {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    word-wrap:break-word;
    margin: 0%;
    padding: 0px;
  }
  .Product >span {
    word-wrap:break-word;

  }
  
  body{
    width: 100%;
    
  }
  nav{
    width: 100;
  }
  .NavOpcion{
    display: none;
  }
  iframe{
    margin-top: -110px;
    height: 600px;
    margin-left: 5%;
  }
  .hidden::before{
    content: "c";
    background-image: url("./asset/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80%; 
    position: absolute;
    left: 0%;
    top: 15%;
    width: 100%;
    filter: blur(3px);
    filter: contrast(5px);
    z-index: 0;
  }
}